<h1>商品一覧</h1>
<p>
  <%= link_to new_admin_item_path do %>
    商品追加
  <% end %>
</p>
<% @items.each do |item| %>
  <p>商品ID</p>
    <span><%= item.id %></span>
  <p>商品名</p>
  <%= link_to admin_item_path(item.id) do %>
    <span><%= item.name %></span>
  <% end %>
  <p>税抜価格</p>
  <span><%= item.price %></span>
<% end %>
<%= paginate @items %>