<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>
<%= form_with model: @customers do |f| %>
  <label>氏名</label>
    <%= f.text_field :last_name, autofoucs: true %>
    <%= f.text_field :first_name %><br>
  <label>フリガナ</label>
    <%= f.text_field :first_name_kana %>
    <%= f.text_field :first_name_kana %><br>
  <label>郵便番号</label>
    <%= f.text_field :postal_code %><br>
  <label>住所</label>
    <%= f.text_field :address %><br>
  <label>電話番号</label>
    <%= f.text_field :telephone_number %><br>
  <label>メールアドレス</label>
    <%= f.text_field :email %><br>
  <%= f.submit "編集内容を保存" %>
<% end %>