<h1>注文履歴一覧</h1>
<% @order_items.each do |order_item| %>
  <p>注文日</p>
  <%= order_item.created_at %>
  <p>配送先</p>
  <%= order_item.order_id %>

  <p>注文商品</p>
  <%= order_item.item_id %>
  <p>支払金額</p>
  <%= order_item.purchase_price %>
  <%= link_to "注文詳細", order_path(order_item.id) %>
<% end %>
<p>Find me in app/views/public/orders/index.html.erb</p>
