<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1>注文情報入力</h1>
      <h4>支払方法</h4>
      <%= form_with model: @order, url: '/orders/comfirm', method: :post do |f| %>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method_transfer, "銀行振込" %>

      <h4>お届け先</h4>
        <%= f.radio_button :address_number, 1 %>
        <%= f.label :address_number_1, "ご自身の住所" %><br>
        <%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %><br>

        <%= f.radio_button :address_number, 2 %>
        <%= f.label :address_number_2, "新しいお届け先" %><br>
        <table>
          <tr>
            <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td><%= f.label :address_name, "宛名" %></td>
            <td><%= f.text_field :address_name %></td>
          </tr>
        </table>

        <%= f.hidden_field :total_price, :value => @subtotal %>
        <%= f.submit "確認画面へ進む" %>
      <% end %>
    </div>
  </div>
</div>
