<h1>注文情報入力</h1>
<p>支払方法</p>
<%= form_with model: @order do |f| %>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, "銀行振込" %>

<p>お届け先</p>
  <%= f.radio_button :address_number, 1 %>
  <%= f.label :address_number_1, "ご自身の住所" %>
  <%= current_customer.customers_address %>

  <%= f.radio_button :address_number, 3 %>
  <%= f.label :address_number_3, "新しいお届け先" %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :address_name, "宛名" %>
  <%= f.text_field :address_name %>

  <%= f.submit "確認画面へ進む" %>

<% end %>
